.back-to-top{
	background-color: rgba(24, 24, 24, .75);
	border-radius: 4px;
	bottom: 30px;
	color: #FFFFFF;
	padding: 5px 10px;
	position: fixed;
	right: 30px;
	text-transform: uppercase;


}
body{
	transition: all 3s;
}
.back-to-top:hover{
 	text-decoration: none;
    background-color: rgba(0, 174, 236, 0.65);

}

.back-to-top a:focus{
 	outline: none;
}
a{
	text-decoration: none;
}
*{
	text-align: justify;

}
